<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Attendance</title>
    <link  rel="stylesheet" href="../../assets/css/style.css"/>
    <link rel="stylesheet" href="../../assets/css/AttStyle.css"/>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../assets/js/security.js"></script>
</head>
<body>
    <header id="header">
        <h1>Attendance System For ITI</h1>
    </header>
    <section class="Att-Container">
        <div class="content">
            <div class="inputs">
                <label>User Name</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="btn">
               <button id="myBtn">Confirm Attendance</button>
            </div>
        </div>
    </section>

   
</body>
</html>   